<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>MembersOnly area</h1>
    <% if (user) {%>
    <h1>Hello <%= user.username %>!</h1>
    <a href="/log-out">log out</a>
    <%} else { %>
    
  <h1>please log in:</h1>
<form action="/members/log-in" method="POST">
  <label for="username">Username</label>
  <input name="username" placeholder="username" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <button>Log In</button>
</form>
<h1>or sign up:</h1>
  <a href="/members/sign-up">sign up</a>
  <% }%>
</body>
</html>