<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>MembersOnly area</h1>
    <% if (user) {%>
    <h3>Hello <%= user.firstname %>!</h3>
    <h3> Membership status: <%= user.status %> </h3>

    <% if (user.status === "pending") {%>
      <h3>obtain full member status:</h3>
      <form action="/members/join" method="POST">
        <label for="secret">Secret Handshake:</label>
        <input name="password" type="password" />
        <button>Join the Club</button>
      </form>
    <%} %>

      

    <a href="/members/log-out">log out</a>
    <%} else { %>
    
  <h3>please log in:</h3>
<form action="/members/log-in" method="POST">
  <label for="username">Username</label>
  <input name="username" placeholder="username" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <button>Log In</button>
</form>
<h3>or sign up:</h3>
  <a href="/members/sign-up">sign up</a>
  <% }%>

  <br>
  <br>
  <a href="/">message board</a>
</body>
</html>